*::before, *::after, *{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6, p{
  color:rgb(56, 56, 56);
}
form > div > div > input{
  height:30px !important;
  padding:1em !important;
}
@media (max-width:768px){
  .nav{
    justify-content: center !important;
  }
}
@media (max-width:500px){
 
  .blog-post{
    margin:1em 0 !important;
  }
  .top-heading{
    font-size:2em !important;
  }
  .top-subheading{
    font-size:1.35em !important;
  }
  .footer-tagline{
    font-size:1em !important;
  }
  .footer-tagline,.footer-icon-container{
    margin:0 auto !important;
  }
}