*::before, *::after, *{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6, p{
  color:rgb(56, 56, 56);
}
form > div > div > input{
  height:30px !important;
  padding:1em !important;
}
@media (max-width:768px){
  .nav{
    justify-content: center !important;
  }
  .top-copy-container{
    width:80% !important;
  }
}
@media (max-width:480px){
  .emma-image{
    width:250px !important;
  }
  .top-container{
    height:75vh !important;
  }
  .case-study{
    margin:1em 0 !important;
    height:425px !important;
    width:275px !important;
  }
  .blog-post{
    margin:1em 0 !important;
  }
  .nav{
    justify-content: center !important;
    padding:0px !important;
  }
  .top-copy-container{
    width:100% !important;
  }
  .nav-link{
    padding:.5em .75em !important;
    font-size:1em !important;
  }
  .top-heading{
    font-size:2em !important;
  }
  .top-subheading{
    font-size:1.35em !important;
  }
  .footer-tagline{
    font-size:1em !important;
  }
  form{
    width:100% !important;
  }
  .footer-tagline,.footer-icon-container{
    margin:0 auto !important;
  }
}